@font-face {
  font-family: "Geist";
  src: url("Geist-v1.4.01/Geist-v1.4.01/ttf/Geist-Bold.ttf") format("truetype"); /* Adjust the format as needed */
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Source Sans Pro";
  padding: 0;
  margin: 0;
  color: #f4f5f7;
}

body {
  margin-top: 100px;
  background-color: #09090b;
}

nav {
  text-align: center;
  font-family: "Geist";
  padding: 1.3rem;
  font-size: 1.6rem;
  width: 80%;
  margin: 0 auto;
}

main {
  width: 50%;
  padding: 1.3rem;
  margin: 50px auto;
  min-height: 200px;
}
.input-area {
  margin: 1.3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text-area {
  border: none;
  padding: 0 1rem;
  border-radius: 5px;
  width: 80%;
  height: 40px;
  background-color: #212124;
}
.edit,
.delete {
  cursor: pointer;
}
.submit {
  background-color: #fafafa;
  font-weight: bold;
  border-radius: 1rem;
  color: black;
  padding: 1rem;
}

.bounty-area {
  border-radius: 5px;
  display: flex;
  flex-direction: column-reverse;
}
.bounty {
  border-radius: 0.5rem;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  background-color: #212124;
  margin: 10px 0;
  padding: 1rem;
}
.check {
  cursor: pointer;
  background-color: #e0e0e0;
  border: 2px solid #ccc;
  width: 20px;
  height: 20px;
  background-color: #212124;
}

input[type="checkbox"]:checked {
  background-color: #f1f1f1; /* Checkbox background color */
  border-color: #f1f1f1;
}

.para {
  width: 80%;
  font-size: small;
}
form {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.edit,
.delete {
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}
.edit:active {
  color: rgb(59 130 246 / 0.5);
  font-weight: bold;
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.delete:active {
  color: red;
  font-weight: bold;
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  body {
    margin-top: 16px;
    font-size: 12px;
  }
  main {
    width: 80%;
    padding: 1rem;
    margin: 20px auto;
  }
}
